
{% extends 'blog/base.html' %}

{% block main_area %}

{% for p in post_list %}
<!-- Blog post-->
<div class="card mb-4">
    {% if p.head_image   %}
    <img class="card-img-top" src="{{p.head_image.url}}" alt={{p.title}} />
    {% else %}
    <img class="card-img-top" src="https://picsum.photos/seed/{{p.id}}/600/350" alt={{p.title}} />
    {% endif %}
    <div class="card-body">
        <h2 class="card-title">{{p.title}}</h2>
        {% if p.hook_text %}
        <h5 class="text-muted">{{p.hook_text}}</h5>
        {% endif %}
        <p class="card-text">{{p.content | truncatewords:45}}</p>
        <a class="btn btn-primary" href="{{p.get_absolute_url}}">Read More →</a>
    </div>
    <div class="card-footer text-muted">
        Posted {{p.created_at}}by
        <a href="#!">{{p.author|upper}}</a>
    </div>
</div>
{% endfor %}

{% endblock %}